#!/usr/bin/python

import sys
import subprocess

print 'Argument List:', str(sys.argv)

ref = sys.argv[0]
oldrev = sys.argv[1]
newrev = sys.argv[2]

short_oldref=ref[:6]
short_newref=ref[:6]

commits = subprocess.check_output(["git", "rev-list", short_oldrev+".."+short_newrev])
commit_list=commits.split('\n')

for commit in commits:
	print commit
